@page
@model TaoLoid.Pages.uiModel
@{
}
@{
if (HttpContext.Session.GetString("username") == null)
	{
<script>alert("กรุณา login ก่อนเข้ามาที่หน้านี้นะจ๊ะ");</script>
<script>window.location.replace("./Login");</script>
return;
	}

}

<head>
	
	<link rel="stylesheet" href="./css/StyleSheet.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		
	<script>
		
        $(document).ready(function () {
			selectData("");

           
            $("#insert").click(function() { insertData(); });
            $("#update").click(function() { updateData(); });
            $("#delete").click(function() { deleteData($("#product_id").val()); });
			$("#search").click(function() { selectData($("#query").val()); });

			
			$(document).on('click', '.edit', function () {
				var id = $(this).attr("id");
                fetchSingleData(id); 

			 });

		
			 $(document).on('click', '.delete', function () {
				 var id = $(this).attr("id");
				 var result = confirm("Want to delete this product id = " + id + " ?");
                 if (result)deleteData(id);

			 });

		});

	
    function CreateTableFromJSON(json_data) {
        if (json_data.length == 0) return "";

        var col = [];
        for (var key in json_data[0]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
  
        var table = document.createElement("table");

       

        var tr = table.insertRow(-1);               

        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");    
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        var edit_header = document.createElement("th");     
        edit_header.innerHTML = "แก้ไขข้อมูล";
        tr.appendChild(edit_header);

        var delete_header = document.createElement("th");   
        delete_header.innerHTML = "ลบข้อมูล";
        tr.appendChild(delete_header);


       
        for (var i = 0; i < json_data.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = json_data[i][col[j]];
            }

            var id = json_data[i][col[0]];
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = '<button type="button" name="edit" class="btn btn-warning btn-xs edit" id="' + id + '">Edit</button>';
      
            tabCell = tr.insertCell(-1);
            tabCell.innerHTML = '<buttonn type="button" name="delete" class="btn btn-danger btn-xs delete" id="' + id + '">Delete</button>';


        }

        return table;
    }

	function insertData() { 
		$.ajax({
					url: "./actions",
					method: "GET",
					headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
					data: { action: "insert",
					   product_id : $("#product_id").val() ,
					   product_name : $("#product_name").val() ,
					   price : $("#price").val() ,
					   product_type : $("#product_type").val()
					},
					success: function (data) { alert(data);  selectData(""); },
					error: function (xhr, ajaxOptions, thrownError) {alert(thrownError);}
				});
	}

	function updateData() { 
       $.ajax({
					url: "./actions",
					method: "GET",
					headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
					data: { action: "update",
					   product_id : $("#product_id").val() ,
					   product_name : $("#product_name").val() ,
					   price : $("#price").val() ,
					   product_type : $("#product_type").val()
					},
					success: function (data) { alert(data);  selectData("");},
					error: function (xhr, ajaxOptions, thrownError) {alert(thrownError);}
				});
	}

	function deleteData(productID) { 
		$.ajax({
					url: "./actions",
					method: "GET",
					headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
					data: { action: "delete" ,
					product_id : productID
					},
					success: function (data) { alert(data);  selectData("");},
					error: function (xhr, ajaxOptions, thrownError) {alert(thrownError);}
				});
	}
	
	function selectData(query) { 
        $.ajax({
					url: "./actions",
					method: "GET",
					headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
					data: { action: "select" ,
					   query : query
					},
					dataType: "json",
               success: function(data) { 
				    var table = CreateTableFromJSON(data); 
					var divContainer = $("#result");
					divContainer.addClass("table table-striped");
                    divContainer.html(table);
			   },
					error: function (xhr, ajaxOptions, thrownError) {alert(thrownError);}
				});
	}
	
	function fetchSingleData(id) { 
		
		$.ajax({
					url: "./actions",
					method: "GET",
					headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
					data: { action: "fetch_single" ,
					   query : id
					},
					dataType: "json",
					success: function (data) { 
                        if (data.lenth < 1) return;					
						$("#product_id").val(data[0]["ProductID"]);
						$("#product_name").val(data[0]["ProductName"]);
						$("#price").val(data[0]["Price"]);
						$("#product_type").val(data[0]["ProductType"]);
					},
					error: function (xhr, ajaxOptions, thrownError) {alert(thrownError);}
				});
	}

	</script>
	
</head>

<form>
	@Html.AntiForgeryToken()
	<center>
	<div className='container' >
			<div class="form-group col-md-7 font-weight-bold">
				<h1>
					กรอกข้อมูล
				</h1>
				<br/>
				<br/>
    	<label>Product ID</label>
			<input type="text" name="product_id" id="product_id" class="form-control text-center" />
	</div>

			<div class="form-group col-md-7 font-weight-bold">
    	<label>Product Name</label>
				<input type="text" name="product_name" id="product_name" class="form-control text-center " />
	</div>

			<div class="form-group col-md-7 font-weight-bold">
    	<label>Price</label>
				<input type="text" name="price" id="price" class="form-control text-center" />
	</div>

			<div class="form-group col-md-7 font-weight-bold">
    	<label>Product Type</label>
				<input type="text" name="product_type" id="product_type" class="form-control text-center" />
	</div>
	</div>
	<br>
	
	<div class="form-group">
		
		<input class="btn btn-success font-weight-bold " type="button" id="insert" value="เพิ่ม" />
		<input class="btn btn-warning  font-weight-bold " type="button" id="update" value="แก้ไข" />
		<input class="btn btn-danger  font-weight-bold " type="button" id="delete" value="ลบ" />
		
	</div>
	
	<br>
	<div class="form-group ">
		ค้นหาข้อมูลสินค้า: 
		<input type="text" name="query" id="query" />
		<input type="button" id="search" value="ค้นหา" />
	</div>

		<div id="result"></div>
		
	</center>
</form>